*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/chapter3-6/google-services.json
/chapter3-6/src/main/res/values/api_key.xml
/chapter3-7/src/main/java/com/example/chapter3_7/ServiceKey.kt